$blue_color:#678FF2;
$white_color:#fff;
$black_color:#000;
$green_color:green;

$media_xxl:1400px;
$media_xl:1200px;
$media_lg:992px;
$media_mdd:832px;
$media_md:768px;
$media_m:750px;
$media_sm:576px;
$media_min:428px;


